Фотобанк Photoraze приветствует вас!

Меню:
=========================================
1. Добавить картинку
2. Удалить картинку
3. Получить все картинки
4. Изменить название картинки
5. Изменить теги картинки
6. Найти нужную картинку
0. Выйти из программы
